{% extends 'base.html' %}

{% block content %}
    <main>
            <h1>{{ maintenance.job }} Details:</h1>
                <p> Category: {{ maintenance.category }}</p>
                <p>Description: {{ maintenance.description }}</p>
                <p>Cost: {{ maintenance.cost }}</p>
                <p>Servicer: {{ maintenance.servicer }}</p>
                <p>Home: {{ maintenance.home }}</p>
                <p>(Optional): Appliance: {{ maintenance.appliance.nickname }} </p>
                <p><form method="get" action="{% url 'maintenance_update' maintenance.id %}">
                    <button class="button is-warning" type="submit">Update</button>
                </form></p>
                <p><form method="get" action="{% url 'maintenance_delete' maintenance.id %}">
                    <button class="button is-warning" type="submit">Delete</button>
                </form></p>
    </main>
{% endblock content %}