{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <div class="p-4">
                <h1 class="is-size-2 has-text-weight-bold">My Maintenance</h1>
                <p class="is-size-4">Add Maintence:</p>
                <p><form method="get" action="{% url 'maintenance_create' %}">
                    <button class="button is-warning" type="submit">Create</button>
                </form></p>
            </div>
            {% if maintenance_list.all|length > 0 %}
                <div class="section">
                    <table>
                        <thead>
                            <tr>
                                <th>Job</th>
                                <th>Home</th>
                                <th>Category</th>
                                <th>Cost</th>
                                <th>Servicer</th>
                                <th>Description</th>
                                <th>Appliance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in maintenance_list.all %}
                                <tr>
                                    <td><a href="{% url 'maintenance_details' job.pk %}">{{job.job}}</td></a>
                                    <td>{{job.home}}</td>
                                    <td>{{job.category}}</td>
                                    <td>${{job.cost}}</td>
                                    <td>{{job.servicer}}</td>
                                    <td>{{job.description}}</td>
                                    <td>{{job.appliance}}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                    </table>
            </div>
            {% else %}
                <p>You have no completed maintenance yet.</p>
            {% endif %}
    </div>
    </main>
{% endblock content %}

