{% extends 'base.html' %}

{% block content %}
    <main>
            <h1>{{ serviceprovider.name }}</h1>
                <p> Company: {{ serviceprovider.company }}</p>
                <p>Type: {{ serviceprovider.type }}</p>
                <p>Phone: {{ serviceprovider.phone}}</p>
                <p>Email: {{ serviceprovider.email}}</p>
                <p>Website: {{ serviceprovider.website}}</p>
                <p>Notes: {{ serviceprovider.notes}}</p>
                <p><form method="get" action="{% url 'service_providers_update' serviceprovider.id %}">
                    <button type="submit">Update</button>
                </form></p>
                <p><form method="get" action="{% url 'service_providers_delete' serviceprovider.id %}">
                    <button type="submit">Delete</button>
                </form></p>
    </main>
{% endblock content %}