{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Service Providers</h1>
            <p>Add Service Provider:</p>
            <p><form method="get" action="{% url 'service_providers_create' %}">
                <button type="submit">Create</button>
            </form></p>
            {% if serviceprovider_list.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in serviceprovider_list.all %}
                            <tr>
                                <td><a href="{% url 'service_providers_details' provider.pk %}">{{provider.name}}</td></a>
                                <td>{{provider.company}}</td>
                                <td>{{provider.type}}</td>
                                <td>{{provider.phone}}</td>
                                <td>{{provider.email}}</td>
                                <td>{{provider.website}}</td>
                                <td>{{provider.notes}}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% else %}
                <p>You have no service providers yet.</p>
            {% endif %}
    </div>
    </main>
{% endblock content %}

<p><a href="{% url 'todo_list_update' todolist.pk %}">Edit</a></p>
<p><a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a></p>