{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomeTrax!</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <header>
            <nav class="navbar is-primary has-shadow">
                    {% if user.is_authenticated %}
                    <div class="navbar-brand">
                            <a class="navbar-item is-size-4" href="{% url 'home' %}">Home</a>
                            <a class="navbar-item is-size-4" href="{% url 'maintenance_list' %}">My Maintenance</a>
                            <a class="navbar-item is-size-4" href="{% url 'service_providers_list' %}">My Service Providers</a>
                            <a class="navbar-burger" id="burger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                    </div>        
                    <div class="navbar-menu" id="nav-links">
                        <div class="navbar-end">
                            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>                    
                    {% else %}
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'signup' %}">Signup</a>
                        <a class="navbar-item" href="{% url 'login' %}">Login</a>
                    <div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <script src="/static/index.js"></script>
    </body>

</html>


