{% extends 'base.html' %}

{% block content %}
    <main class="section">
        <div>
            <h1 class='has-text-weight-bold is-size-1'>My Homes!</h1>
            <div class="p-4">
                <p>Add a home:</p>
                <p><form method="get" action="{% url 'home_create' %}">
                    <button class="button is-warning" type="submit">Create</button>
                </form></p> 
            </div>
            {% if home_list.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Nickname</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for home in home_list.all %}
                            <tr>
                                <td><a href="{% url 'home_details' home.pk %}">{{home.address}}</td></a>
                                <td>{{home.nickname}}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% else %}
                <p>You haven't added any homes yet.</p>
            {% endif %}
    </div>
    </main>
{% endblock content %}

