{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="section">
            <h1 class=" is-size-2 has-text-weight-bold">{{ home.address }}</h1>
            <p> AKA: {{ home.nickname }}</p>

            <p><form method="get" action="{% url 'home_update' home.id %}">
                <button type="submit">Update</button>
            </form></p>
            <p><form method="get" action="{% url 'home_delete' home.id %}">
                <button type="submit">Delete</button>
            </form></p>  
        </div>
        <div class="section">
            <h2 class="is-size-2 has-text-weight-bold">Roof</h2>
            {% if home.roof.all|length > 0 %}
                <p> Material: {{ home.roof.get.material }}</p>
                <p>Age: {{ home.roof.get.age_of_roof }}</p>
                <p>Notes: {{ home.roof.get.notes }}</p>
                <p><form method="get" action="{% url 'roof_update' home.roof.get.id %}">
                    <button type="submit">Update</button>
                </form></p>  
                <p><form method="get" action="{% url 'roof_delete' home.roof.get.id %}">
                    <button type="submit">Delete</button>
                </form></p> 
            {% else %}
                <p>Add a roof:</p>
                <p><form method="get" action="{% url 'roof_create' %}">
                    <button type="submit">Create</button>
                </form></p> 
            {% endif %}
        </div>
            
            <div class="section">
                <h2 class="is-size-2 has-text-weight-bold">Appliances</h2>
                    <p>Add appliance</p>
                    <p><form method="get" action="{% url 'appliance_create' %}">
                        <button type="submit">Create</button>
                    </form></p> 
                {% if home.appliances.all|length > 0 %}
                    {% for appliance in home.appliances.all %}
                        <div class="section">
                            <p> Nickname: {{ appliance.nickname }}</p>
                            <p> Type: {{ appliance.type }}</p>
                            <p> Brand: {{ appliance.brand }}</p>
                            <p> Model: {{ appliance.model }}</p>
                            <p> Age: {{ appliance.age_of_unit }}</p>
                            <p> Notes: {{ appliance.notes }}</p>
                            <p><form method="get" action="{% url 'appliance_update' appliance.id %}">
                                <button type="submit">Update</button>
                            </form></p> 
                            <p><form method="get" action="{% url 'appliance_delete' appliance.id %}">
                                <button type="submit">Delete</button>
                            </form></p> 
                        </div>
                    {% endfor %}
                {% else %}
                    <p> No appliances added yet!</p>
                {% endif %}
            </div>
              
    </main>
{% endblock content %}

